<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>MODEL PAGE</h2>
    <form action="/output" method="post">
        <p>Enter Age</p>
        <input type="number" name="age">
        <p>Enter Workclass</p>
        <input type="text" name="workclass">
        <p>Enter Education</p>
        <input type="number" name="Education">
        <p>Enter race</p>
        <input type="text" name="race">
        <p>Enter Gender</p>
        <input type="text" name="sex">
        <p>Enter hrs per week</p>
        <input type="number" name="hpw">
        <p>Enter Native Country</p>
        <input type="text" name="country"><br><br>
        <input type="submit" value="Predict Outcome">
    </form>
</body>
</html>